:root{
    --quizblue: #115377;
    --backy: rgb(212, 206, 206);
    --buttongreen: rgb(8, 161, 67);
    --buttonpurple: rgb(114, 69, 128);
}

body{
    background-color: var(--backy);
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

h1{
    color: var(--quizblue); 
    font-size: 4rem;
}

p{
    color: var(--quizblue); 
    font-size: 2.5rem;
}


#timer {
    font-size: 3rem;
    color: black;
    position: absolute;
    top: 1rem;
    left: 2rem;
    visibility: hidden;
}

.div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#start {
    font-size: 3rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttongreen);
}

#start:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.next1, .next2, .next3, .next4, .finalButton, .retry {
    font-size: 3rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttongreen);
}

.next1:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.next2:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}


.next3:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}


.next4:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}


.finalButton:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.retry:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.question1, .question2, .question3, .question4, .question5, .leaderboard {
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.questionButtons1, .questionButtons2, .questionButtons3, .questionButtons4, .questionButtons5 {
    display: flex;
    justify-content: center;
}

.questionButtons1 button{
    font-size: 2em;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttonpurple);
}

.questionButtons1 button:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.questionButtons2 button{
    font-size: 2em;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttonpurple);
}

.questionButtons2 button:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.questionButtons3 button{
    font-size: 2em;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttonpurple);
}

.questionButtons3 button:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.questionButtons4 button{
    font-size: 2em;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttonpurple);
}

.questionButtons4 button:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.questionButtons5 button{
    font-size: 2em;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--buttonpurple);
}

.questionButtons5 button:hover{
    background-color: var(--quizblue);
    transform: scale(1.2);
}

.leaderboard h1 {
    font-size: 3rem;
    color: var(--quizblue);
}

.leaderboard p{
    font-size: 2rem;
    color: var(--quizblue);
}

.leaderboard ol{
    font-size: 2rem;
    color: black;
    margin: 4rem;
}

.topScoreList{
    display: flex;
    flex-direction: row;
}